html {
  height: max-content;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

ul {
  margin: 0;
  gap: 24px;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: #f9faf8;
  font-weight: bold;
}

.logo {
  height: 32px;
  width: 32px;
}

.header {
  font-size: 24px;
  color: #e5e7eb;
  background-color: #3b5a68;
  padding-left: 60px;
  font-weight: 700;
  flex: 0 1 auto;
}

#navbar-brand {
  font-size: 1.5em;
}

.photo {
  border-radius: 50%;
}

.info {
  display: flex;
}

.info-left {
  display: flex;
  padding: 5%;
  justify-content: center;
}

.info-right {
  padding-right: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-text {
  font-size: 2rem;
  color: #1f2937;
  font-weight: 900;
  padding: 8%;
  display: flex;
  justify-content: center;
  align-content: flex-end;
}

.info-body {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  text-align: center;
  font-weight: 500;
  padding: 0 5% 5% 5%;
}

.hero {
  padding: 5% 0;
  background-color: #3b5a68;
  display: grid;
  grid-template-rows: 400px 400px;
  justify-content: center;
  align-items: center;
}

.hero-text,
.hero-box {
  width: 600px;
  height: 300px;
}

.hero-text {
  background-color: #3b5a68;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hero-box {
  background-color: gray;
  color: #f9faf8;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-main {
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
}

#hero-second {
  font-size: 18px;
  font-weight: 400;
  color: #e5e7eb;
  margin: 0;
  margin-right: 16px;
}

.litany {
  background: #e5e7eb;
  padding: 4.2% 0;
  font-family: "Open Sans Condensed", sans-serif;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  width: 75%;
  font-size: 36px;
  margin-bottom: -25px;
}

.cite {
  font-size: 28px;
  margin-left: 55%;
}

.page {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.projects {
  padding: 17.5% 20%;
  flex: 1 1 auto;
}

.card-text {
  padding-top: 1%;
}

.card-title,
.buttons{
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 5%;
}

ul.eyes{
  margin-bottom: 1rem;
}

#card-link{
  color: #1f2937;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  color: #f9faf8;
  padding-top: 20px;
  font-size: larger;
  flex: 0 1 auto;
}
